.intro-header .page-heading h1 {
  font-size: 48px;
}

footer h4 {
    text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
}

.avatar-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.avatar-gallery .avatar-container {
    width: 14rem;
    padding: 2em;
}

.avatar-gallery .avatar-container .avatar-name {
  text-align: center;
}

.avatar-gallery .avatar-container .avatar-img {
    box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.8);
}
.avatar-gallery .avatar-container .avatar-img {
    width: 100%;
    border-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    display: block;
}